<h2>Videos</h2>
<section id="videos">
  {{#each video in controller}}
    {{#linkTo "video" video}}
      <article class="video-thumbnail">
        <h3>{{video.name}}</h3>
        <img class="thumbnail" src="/static/images/video-thumbnail.png" />
      </article>
    {{/linkTo}}
  {{/each}}
</ection>
