<!DOCTYPE HTML>
<html>
<head>
  <title>ElixirCasts</title>
  <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <%= javascript_include "application" %>
</body>
</html>
